//colors
$white: #fff;
$blue: #006ef9;
$cobalt-blue: #11193f;
$steel-blue: #071132;
$title-blue: #283455;
$text-grey: #333333;

//sizes
$screen-width: 110.2rem;
$social-btn-size: 4.3rem;
$line-height-text: 1.5;
$control-height: 5.2rem;

//road map
$circle: 2rem;
$outer-circle: 3.2rem;
$distance: 6.7rem;
$line-width: 0.2rem;
$light-grey: #bacace;

//responsive
$min-mobile-width: 320px;
$max-mobile-width: 480px;

$min-tablet-width: 768px;
$max-tablet-width: 1024px;

* {
  margin:0;
  padding:0;
  font-size: 1.8rem;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 62.5%;
  font-family: Roboto;
  font-weight: 300;
}


.wrapper {
  width: $screen-width;
  margin: 0 auto;
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    width: 100%;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

h1, h4, h5, h6 {
  color: $text-grey;
}

h1 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem;
  color: $white;
  font-weight: 300;
}
h4 {
  font-size: 4.4rem;
  margin-bottom: 0.7rem;
  font-weight: 300;
  text-transform: capitalize;
}

@media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
  h1 {
    font-size: 3.5rem;
    padding: 0 1rem;
    text-align: center;
  }
  h4 {
    font-size: 3.2rem;
  }
}

section {
  &.main, &.how-credium-works, &.the-team, &.faq {
    background-color: $cobalt-blue;
  }
  &.what-are-we-solving, &.the-world-need-credium {
    background-color: $blue;
  }
  &.want-more, &.footer {
    background-color: $steel-blue;
  }
  &.our-vision, &.key-elements, &.created-by, &.road-map {
    background-color: $white;
  }
  &.main {
    background-image: url("../img/sparks.png");
    background-repeat: repeat;
  }
  &.the-team {
    background: url("../img/element_simple.svg") 95% 13.7rem no-repeat, url("../img/element_simple.svg") 5% 115% no-repeat, $cobalt-blue;

    @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
      background: url("../img/element_simple.svg") calc(100% + 20rem) 22rem no-repeat, url("../img/element_simple.svg") calc(0% - 12rem) calc(100% - 15rem) no-repeat, $cobalt-blue;
    }
  }
}
section.main .wrapper{
  padding: 12.3rem 0 4.3rem 0;
  .credium-logo {
    background: url("../img/credium_logo.png") no-repeat left;
    width: 10rem;
    height: 1.8rem;
    background-size: contain;
    display: block;
  }
  header {
    &.fixed {
      position: fixed;
      height: 8rem;
      left: 0;
      right: 0;
      top: 0;
      z-index: 100;
      background-color: $cobalt-blue;
      .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
      }
    }
    &.open {
      nav {
        z-index: 12;
        background-color: $cobalt-blue;
        margin-top: 1.5rem;
        opacity: 1;
        a {
          display: block;
          text-align: center;
          margin: 3rem 0;
          font-weight: 400;
          font-size: 1.8rem;
        }
      }
      .menu-icon span {
        &:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
    }
    .menu-icon {
      display: none;
      width: 2.4rem;
      height: 1.8rem;
      position: absolute;
      top: 2rem;
      left: 1.7rem;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .1s ease-in-out;
      -moz-transition: .1s ease-in-out;
      -o-transition: .1s ease-in-out;
      transition: .1s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 0.2rem;
        width: 100%;
        background: $white;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .05s ease-in-out;
        -moz-transition: .05s ease-in-out;
        -o-transition: .05s ease-in-out;
        transition: .05s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2), &:nth-child(3) {
          top: 0.8rem;
        }
        &:nth-child(4) {
          top: 1.6rem;
        }
      }

    }
    nav a {
      text-decoration: none;
      color: $white;
      padding: 0 2rem;
      font-size: 1.4rem;
      letter-spacing: -0.1px;
    }

  }
  .meet-credium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__main {
      width: 58.5rem;
    }
    &__img {
      width: 44.4rem;
      height: 43.3rem;
      background: url("../img/element-motion.gif") no-repeat center center;
      background-size: contain;
    }
    &__description {
      line-height: $line-height-text;
      color: $white;
    }
    &__social a{
      display: inline-block;
      width: $social-btn-size;
      height: $social-btn-size;
      border-radius: $social-btn-size;
      margin-right: 1rem;
      background: $blue no-repeat center center;
      &.reddit-icon {
        background-image: url("../img/reddit_icon.png");
      }
      &.telegram-icon {
        background-image: url("../img/telegrapm_icon.png");
      }
      &.bitcoin-icon {
        background-image: url("../img/bitcoin_icon.png");
      }
    }
    .send-email {
      display: flex;
      flex-direction: row;
      margin: 2.2rem 0 3.7rem 0;
      &__input {
        height: calc(#{$control-height} - 2px);
        flex-grow: 1;
        border: 1px solid $white;
        border-radius: 5px;
        background-color: transparent;
        padding: 0 1.5rem;
        font-size: 1.6rem;
        color: $white;
        &:focus {
          outline: none;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $white;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $white;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $white;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $white;
        }
      }
      &__button {
        color: $white;
        height: $control-height;
        background-color: $blue;
        border: none;
        border-radius: 5px;
        margin-left: 1rem;
        padding: 0 4.3rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-appearance: none;
      }
    }
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding-top: 10rem;
    padding-bottom: 2.5rem;
    header {

      &.fixed {
        height: 6rem;
        padding: 2rem 0;
        .wrapper {
          display: block;
          padding: 0;
        }
      }
      .credium-logo {
        margin: 0 auto;
      }
      h5 {
        text-align: center;
      }
      nav {
        z-index: -12;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        -webkit-transition: opacity 0.1s ease-in;
        -moz-transition: opacity 0.1s ease-in;
        -ms-transition: opacity 0.1s ease-in;
        -o-transition: opacity 0.1s ease-in;
        transition: opacity 0.1s ease-in;
      }
      .menu-icon {
        display: block;
      }
    }
    .meet-credium {
      flex-direction: column-reverse;
      &__main {
        width: 100%;
      }
      &__description {
        text-align: center;
      }
      &__social {
        text-align: center;
        margin-top: 6.2rem;
        margin-bottom: 3rem;
      }
      &__img {
        width: 24rem;
        height: 23rem;
        margin: 1rem 0 3rem 0;
      }
      .send-email {
        display: block;
        padding: 0 3.2rem;
        &__input, &__button {
          width: 100%;
        }
        &__button {
          margin: 2rem 0 0 0;
        }
      }

    }
  }
}

section.want-more .wrapper{
  padding: 3.2rem 0 3.8rem 0;
  text-align: center;
  a {
    color: $white;
    padding: 0 2rem;
    font-weight: 400;
    font-size: 2rem;
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding: 2.8rem 0 1rem 0;
    a {
      display: block;
      text-align: center;
      margin-bottom: 2.3rem;
    }
  }
}

section.our-vision .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10.5rem 0;

  .description {
    line-height: $line-height-text;
    align-self: flex-start;
    width: 40.9rem;
  }
  .video {
    width: 56.2rem;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 8rem;
    .description, .video {
      width: 100%;
      text-align: center;
    }
    .video {
      margin-top: 3.3rem;
    }
  }
}

section.what-are-we-solving .wrapper {
  padding-top: 12rem;
  margin-bottom: -24rem;
  text-align: center;
  color: $white;
  h4, h6 {
    color: $white;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
    &__item {
      //display: flex;
      //flex-direction: column;
      padding: 5rem 3rem;
      width: 41.3rem;
      height: 50.7rem;
      margin: 0 2.5rem;
      z-index: 12;
      background: -webkit-linear-gradient(bottom, #0f143b, #162346); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom, #0f143b, #162346); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom, #0f143b, #162346); /* For Firefox 3.6 to 15 */
      background-image: linear-gradient(to bottom, #0f143b, #162346);
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);

      &:first-child .img {
        background: url("../img/element_b.svg") no-repeat center center;
        background-size: contain;
      }
      &:last-child .img {
        background: url("../img/element_c.svg") no-repeat center center;
        background-size: contain;
      }
      .img {
        width: 17rem;
        height: 17rem;
        margin: 0 auto;
      }
      .description {
        margin-top: 3.6rem;
        line-height: $line-height-text;
        h6 {
          font-size: 2.8rem;
          font-weight: 700;
          margin-bottom: 2rem;
        }
      }
    }
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding-top: 8rem;
    margin-bottom: -17rem;
    h4 {
      padding: 0 3rem;
    }
    .cards {
      flex-direction: column;
      align-items: center;
      margin-top: 6rem;
      &__item {
        width: 100%;
        height: 44rem;
        max-width: 45rem;
        margin: 2rem 0;
        padding: 3rem 2rem;
        .img {
          width: 13rem;
          height: 13rem;
        }
        .description {
          margin-top: 1.6rem;
          font-size: 1.7rem;
          h6 {
            font-size: 2.4rem;
            margin-bottom: 1.6rem;
          }
        }
      }
    }
  }
}

section.how-credium-works .wrapper {
  padding: 35.2rem 0 14.4rem 0;
  text-align: center;

  h4 {
    color: $white;
    margin-bottom: 2rem;
  }
  h6 {
    color: $white;
    font-weight: 300;
    font-size: 2.5rem;
  }
  .img {
    margin: 8rem 0 4rem 0;
    background: url("../img/flow.png") no-repeat center center;
    background-size: contain;
    height: 72.5rem;
  }

  .legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -15rem;
    .left, .right {
      width: 25rem;
    }
    &__item {
      color: $white;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      text-align: left;
      position: relative;
      padding-left: 4rem;
      &:before {
        content: "";
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        left: 0;
        top: calc(50% - 1.3rem);
      }
      &.orm:before {
        background-color: $blue;
      }
      &.note-holders:before {
        background-color: #00cef1;
      }
      &.risk-analysts:before {
        background-color: #6c2dde;
      }
      &.buyers:before {
        background-color: #41ffab;
      }
      &.oracle:before {
        background-color: #d4e2ff;
      }
    }
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding-top: 22.6rem;
    padding-bottom: 6rem;
    h4 {
      padding: 0 3rem;
    }
    .img {
      width: 100%;
      height: 33.7rem;
      margin-bottom: 0;
      background-image: url("../img/flow_mobile.png");
    }
    .legend {
      flex-direction: column;
      margin-top: 6rem;
      .left, .right {
        width: 100%;
      }
      &__item {
        padding-left: 2.5rem;
        &:before {
          width: 1.8rem;
          height: 1.8rem;
          top: calc(50% - 0.9rem);
        }
      }
    }
  }
}

section.key-elements .wrapper {
  padding: 12rem 0 10rem 0;
  text-align: center;
  .key-benefits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;
    &__item {
      display: flex;
      flex-direction: column;
      padding: 0 3rem;
      line-height: $line-height-text;
      width: 37rem;
      .img {
        width: 18rem;
        height: 18rem;
        margin: 0 auto 1.5rem auto;
        background: no-repeat center center;
        &.cdx {
          background-image: url("../img/cdx_icon.svg");
        }
        &.risk-market {
          background-image: url("../img/open_market_icon.svg");
        }
        &.oracle {
          background-image: url("../img/settings_icon.svg");
        }
      }
      h6{
        margin-top: 3rem;
        margin-bottom: 1.7rem;
        font-size: 2.8rem;
        font-weight: 700;
      }
    }
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding: 8rem 3rem 0 3rem;
    .key-benefits {
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;

      &__item {
        margin-bottom: 8rem;
        width: 100%;
        h6 {
          font-size: 2.4rem;
          margin-top: 4rem;
        }
        .img {
          margin-bottom: 0;
        }
      }
    }
  }
}

section.the-world-need-credium .wrapper {
  padding: 12rem 0 10rem 0;
  text-align: center;
  $card-width: 26rem;
  $card-margin: 1.5rem;
  h4 {
    color: $white;
    margin-bottom: 2rem;
  }
  h6 {
    color: $white;
    margin-bottom: 8rem;
    font-size: 2.1rem;
    font-weight: 400;
  }
  .news-quotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    &__item {
      background-color: $white;
      width: 30rem;
      height: 35.3rem;
      border-radius: 5px;
      margin: 2.5rem;
      padding: 2.8rem;
      text-align: left;
      text-decoration: none;
      color: $text-grey;
      line-height: 1.4;
      b {
        font-weight: 200;
        background-color: #fffd62;
      }
      &.lendacademy {
        background: url("../img/lendacademy-logo.png")  no-repeat 3rem calc(100% - 2rem) #fff;
      }
      &.bloomberg {
        background: url("../img/bloomberg-logo.png")  no-repeat 3rem calc(100% - 2.5rem) #fff;
      }
      &.forbes {
        background: url("../img/forbes_logo.png")  no-repeat 3rem calc(100% - 2.5rem) #fff;
      }
      &.oecd {
        background: url("../img/oecd_logo.png")  no-repeat 3rem calc(100% - 2.5rem) #fff;
      }
    }
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding: 8rem 0;
    h4 {
      padding: 0 3rem;
      margin-bottom: 5.5rem;
    }
    .news-quotes {
      display: block;
      margin: 0 -1.5rem;
      &__item {
        padding: 2rem;
      }
    }
  }
  @media only screen and (min-device-width : 351px) and (max-device-width : $max-tablet-width) {
    .news-quotes {
      &__item {
        margin: 1.5rem;
        &.lendacademy {
          background-position: 2.5rem calc(100% - 2rem);
        }
        &.bloomberg {
          background-position: 2.5rem calc(100% - 1.5rem);
        }
      }
    }
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : 350px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .news-quotes {
      &__item {
        margin: 1rem;
        font-size: 1.7rem;
        &.lendacademy {
          background-position: 2rem calc(100% - 2rem);
        }
        &.bloomberg {
          background-position: 2rem calc(100% - 1.5rem);
        }
      }
    }
  }
}

section.created-by .wrapper {
  padding: 6rem 0 6.5rem 0;
  text-align: center;
  h6 {
    font-weight: 400;
    font-size: 2.1rem;
    margin-top: 2.5rem;
  }
  .backend-logo {
    display: inline-block;
    width: 22.2rem;
    height: 4.2rem;
    margin-bottom: -0.3rem;
    margin-left: 1rem;
    background: url("../img/backend logo.png") no-repeat center center;
  }
  .founders {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5rem;
    &__item {
      background: no-repeat center center;
      cursor: pointer;
      &.tech-crunch {
        background-image: url("../img/tc_logo.png");
        width: 20.3rem;
        height: 3.5rem;
      }
      &.nerdwallet {
        background-image: url("../img/nerdwallet-logo.png");
        width: 16rem;
        height: 3.4rem;
      }
      &.crowdfund-insider {
        background-image: url("../img/crowdfund_logo.png");
        width: 18.4rem;
        height: 3.8rem;
      }
      &.finance-magnates {
        background-image: url("../img/finance_logo.png");
        width: 10.9rem;
        height: 4.6rem;
      }
      &.lockerdome {
        background-image: url("../img/lockerdone_logo.png");
        width: 20.5rem;
        height: 3.2rem;
      }
    }
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding-top: 8rem;
    padding-bottom: 6.6rem;
    h4 {
      padding: 0 1rem;
    }
    .backend-logo {
      display: block;
      margin: 1.6rem auto 0 auto;
    }
    .founders {
      flex-wrap: wrap;
      margin-top: 4.5rem;
      &__item {
        margin: 2rem 0;
      }
    }
  }
}

section.the-team .wrapper {
  padding: 12rem 0;
  text-align: center;
  h4 {
    color: $white;
  }
  .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 8rem;
    &__item {
      background-color: $white;
      width: 28rem;
      height: 32rem;
      border-radius: 3px;
      margin: 2.5rem;
      padding: 3.5rem;
      position: relative;
      .overlay-trigger {
        position: absolute;
        right: 0.3rem;
        font-weight: 400;
        bottom: 0;
        width: 3rem;
        text-align: center;
        font-size: 3rem;
        cursor: pointer;
        z-index: 20;
        color: $blue;
        &:before {
          content: '+';
        }
      }
      .overlay {
        opacity: 0;
        position: absolute;
        padding: 3rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($blue, 0.9);
        border-radius: 0.3rem;
        z-index: -1;
        color: $white;
        line-height: 1.5;
        text-align: left;
        -webkit-transition: opacity 0.1s ease-out;
        -moz-transition: opacity 0.1s ease-in;
        -ms-transition: opacity 0.1s ease-in;
        -o-transition: opacity 0.1s ease-in;
        transition: opacity 0.3s ease-out;
        ul {
          margin-left: 1rem;
          li {
            font-size: 1.7rem;
          }
        }
      }
      .open {
        .overlay{
          opacity: 1;
		  z-index: 10;
        }
        .overlay-trigger:before {
          content: '-';
          color: $white;
        }
      }
      &.gilad {
        .photo{
          background-image: url("../img/team/gilad.jpg");
        }
        .company {
          background-image: url("../img/team/backed-logo.png");
        }
      }
      &.dan {
        .photo{
          background-image: url("../img/team/dan.jpg");
        }
        .company {
          background-image: url("../img/team/grey-group-logo.png");
        }
      }
      &.kfir {
        .photo{
          background-image: url("../img/team/kfir.jpg");
        }
        .company {
          background-image: url("../img/team/cyhawk-ventures.jpg");
          height: 4rem;
          margin-top: -0.5rem;
        }
      }
      &.yaniv {
        .photo{
          background-image: url("../img/team/yaniv.jpg");
        }
        .company {
          background-image: url("../img/team/gnosis-logo.png");
        }
      }
      &.taras {
        .photo{
          background-image: url("../img/team/taras.jpg");
        }
        .company {
          background-image: url("../img/team/n-ix_logo.png");
        }
      }
      &.tom {
        .photo{
          background-image: url("../img/team/tom.jpg");
        }
        .company {
          background-image: url("../img/team/gaincapital-logo.png");
        }
      }
      &.nufar {
        .photo{
          background-image: url("../img/team/nufar.jpg");
        }
        .company {
          background-image: url("../img/team/backed-logo.png");
        }
      }
      &.elan {
        .photo{
          background-image: url("../img/team/elan.jpg");
        }
        .company {
          background-image: url("../img/team/prosper-logo.png");
        }
      }
      &.eyal {
        .photo{
          background-image: url("../img/team/eyal.jpg");
        }
        .company {
          background-image: url("../img/team/bancor_logo.png");
        }
      }
      &.david {
        .photo{
          background-image: url("../img/team/david.jpg");
        }
        .company {
          background-image: url("../img/team/ldjCapital_logo.jpeg");
        }
        .overlay {
          font-size: 1.5rem;
        }
      }
      &.raphael {
        .photo{
          background-image: url("../img/team/raphael.jpg");
        }
        .company {
          background-image: url("../img/team/billguard-logo.png");
        }
      }
      &.ru {
        .photo{
          background-image: url("../img/team/ru.jpg");
        }
        .company {
          background-image: url("../img/team/barclaycard.jpg");
        }
      }
      &.eytan {
        .photo{
          background-image: url("../img/team/eytan.jpg");
        }
        .company {
          background-image: url("../img/team/reddot-logo.png");
        }
      }
      &.george {
        .photo{
          background-image: url("../img/team/george.jpg");
        }
        .company {
          background-image: url("../img/team/lending-times-logo.png");
        }
      }
      &.yoni {
        .photo{
          background-image: url("../img/team/yoni.jpg");
        }
        .company {
          background-image: url("../img/team/etoro_logo.png");
        }
      }
      &.mihai {
        .photo{
          background-image: url("../img/team/mihai.jpg");
        }
        .company {
          background-image: url("../img/team/ox-uni_logo.png");
        }
      }
      .company {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        width: 100%;
        height: 3rem;
      }
      .photo {
        width: 10rem;
        height: 10rem;
        border-radius: 10rem;
        margin: 0 auto;
        background-color: $blue;
        background-size: contain;
      }
      .description {
        min-height: 4.5rem;
      }
      h6 {
        margin-top: 1.7rem;
        margin-bottom: 1rem;
        font-size: 1.7rem;
      }
      .linkedin-url {
        display: block;
        width: 2.3rem;
        height: 2.3rem;
        margin: 1rem auto;
        border-radius: 0.2rem;
        background: url("../img/linkedin-logo.png");
        cursor: pointer;
      }
    }
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding-top: 8rem;
    padding-bottom: 1.7rem;
    .team {
      &__item {
        margin: 0 2rem 4rem 2rem;
      }
    }
  }
}

section.road-map .wrapper {
  padding: 12rem 0 2rem 0;
  text-align: center;
  overflow: hidden;
  .events {
    margin-top: 7.7rem;
    &__item {
      height: 12rem;
      position: relative;
      clear: both;
      width: 48.4rem;
      
      &:first-child:before{
        width: 0;
      }
      &.left {
        float: left;
        text-align: right;
        &:before {
          right: calc(-#{$distance} - #{$line-width}/2);
        }
        .circle {
          right: calc(-#{$distance} - #{$circle}/2);
        }
        h6:before {
          right: -4rem;
        }
      }
      &.right {
        float: right;
        text-align: left;
        &:before {
          left: calc(-#{$distance} - #{$line-width}/2);
        }
        .circle {
          left: calc(-#{$distance} - #{$circle}/2);
        }
        h6:before {
          left: -4rem;
        }
      }
      h6 {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
        font-weight: 400;
        position: relative;
        line-height: 1.2;
        &:before {
          content: '';
          position: absolute;
          width: 3rem;
          height: 0.2rem;
          background-color: black;
          top: 50%;
        }
      }
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: $line-width;
        top: calc(-100% + 0.5rem);
        background-color: $blue;
      }
      &.upcoming {
        &:before {
          background-color: $light-grey;
        }
        .circle {
          background-color: $light-grey;
          &:before {
            background-color: $light-grey;
          }
        }
      }
      .circle {
        width: $circle;
        height: $circle;
        border-radius: $circle;
        position: absolute;
        background-color: $blue;
        top: 0.5rem;
        z-index: 10;
        &:before {
          width: $outer-circle;
          height: $outer-circle;
          border-radius: $outer-circle;
          position: absolute;
          background-color: $blue;
          opacity: 0.5;
          content: '';
          left: calc((#{$circle} - #{$outer-circle})/2);
          top: calc((#{$circle} - #{$outer-circle})/2);
        }
      }
    }
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding-top: 8rem;
    padding-bottom: 8rem;
    .events {
      &__item {
        height: 20rem;
        &__content {
            height: calc(100% - 4rem);
            overflow: auto;
        }
        &.left, &.right {
          text-align: left;
          margin-left: 8rem;
          width: calc(100% - 8rem);
          line-height: 1.68;
        }
        &.right {
          float: left;
          text-align: left;
        }
        &.left {
          &:before {
            left: calc(-#{$distance} - #{$line-width}/2);
          }
          .circle {
            left: calc(-#{$distance} - #{$circle}/2);
          }
          h6 {
            margin-bottom: 1rem;

            &:before {
              left: -4rem;
            }
          }
        }
      }
    }
  }
}

section.faq .wrapper {
  padding: 12rem 5.8rem 3.8rem 5.8rem;
  text-align: center;
  h4 {
    color: $white;
  }
  .questions {
    margin-top: 8.3rem;
    &__item {
      padding: 2.8rem 0 2.2rem 0;
      border-top: 1px solid $blue;
      .question {
        color: $white;
        font-size: 1.7rem;
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        //align-items: center;
        &:hover {
          cursor: pointer;
          svg.arrow-icon g{
            stroke: $blue;
          }
        }
        svg.arrow-icon {
          float: right;
          width: 30px;
          height: 30px;
          margin-top: -0.4rem;
          transform: rotate(90deg);
          g {
            stroke: $white;
          }
          &.open {
            transform: rotate(-90deg);
            g {
              stroke: $blue;
            }
          }
        }
      }
      .answer {
        color: $white;
        text-align: left;
        margin-top: 2rem;
        font-size: 1.7rem;
        line-height: 1.4;
        u, i, b {
          font-size: 1.7rem;
        }
        ul, ol {
          margin-left: 2rem;
        }
        li {
          font-size: 1.7rem;
          padding: 0.5rem 0;
        }
      }
    }
    &__item:last-child {
      border-bottom: 1px solid $blue;
    }
  }
  .footer, .footer span {
    margin-top: 8.3rem;
    color: $white;
    text-align: left;
    font-size: 1.4rem;
  }
  @media only screen and (min-device-width : $min-mobile-width) and (max-device-width : $max-tablet-width) {
    padding-top: 8rem;
    padding-bottom: 3.5rem;
    .footer {
      margin-top: 8rem;
    }
  }
}

