* {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }

html {
  font-size: 62.5%;
  font-family: Roboto;
  font-weight: 300; }

.wrapper {
  width: 110.2rem;
  margin: 0 auto; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    .wrapper {
      width: 100%;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important; } }

h1, h4, h5, h6 {
  color: #333333; }

h1 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: 300; }

h4 {
  font-size: 4.4rem;
  margin-bottom: 0.7rem;
  font-weight: 300;
  text-transform: capitalize; }

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  h1 {
    font-size: 3.5rem;
    padding: 0 1rem;
    text-align: center; }
  h4 {
    font-size: 3.2rem; } }

section.main, section.how-credium-works, section.the-team, section.faq {
  background-color: #11193f; }

section.what-are-we-solving, section.the-world-need-credium {
  background-color: #006ef9; }

section.want-more, section.footer {
  background-color: #071132; }

section.our-vision, section.key-elements, section.created-by, section.road-map {
  background-color: #fff; }

section.main {
  background-image: url("../img/sparks.png");
  background-repeat: repeat; }

section.the-team {
  background: url("../img/element_simple.svg") 95% 13.7rem no-repeat, url("../img/element_simple.svg") 5% 115% no-repeat, #11193f; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.the-team {
      background: url("../img/element_simple.svg") calc(100% + 20rem) 22rem no-repeat, url("../img/element_simple.svg") calc(0% - 12rem) calc(100% - 15rem) no-repeat, #11193f; } }

section.main .wrapper {
  padding: 12.3rem 0 4.3rem 0; }
  section.main .wrapper .credium-logo {
    background: url("../img/credium_logo.png") no-repeat left;
    width: 10rem;
    height: 1.8rem;
    background-size: contain;
    display: block; }
  section.main .wrapper header.fixed {
    position: fixed;
    height: 8rem;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: #11193f; }
    section.main .wrapper header.fixed .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 3rem 0; }
  section.main .wrapper header.open nav {
    z-index: 12;
    background-color: #11193f;
    margin-top: 1.5rem;
    opacity: 1; }
    section.main .wrapper header.open nav a {
      display: block;
      text-align: center;
      margin: 3rem 0;
      font-weight: 400;
      font-size: 1.8rem; }
  section.main .wrapper header.open .menu-icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  section.main .wrapper header.open .menu-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  section.main .wrapper header.open .menu-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  section.main .wrapper header.open .menu-icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }
  section.main .wrapper header .menu-icon {
    display: none;
    width: 2.4rem;
    height: 1.8rem;
    position: absolute;
    top: 2rem;
    left: 1.7rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    cursor: pointer; }
    section.main .wrapper header .menu-icon span {
      display: block;
      position: absolute;
      height: 0.2rem;
      width: 100%;
      background: #fff;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .05s ease-in-out;
      -moz-transition: .05s ease-in-out;
      -o-transition: .05s ease-in-out;
      transition: .05s ease-in-out; }
      section.main .wrapper header .menu-icon span:nth-child(1) {
        top: 0; }
      section.main .wrapper header .menu-icon span:nth-child(2), section.main .wrapper header .menu-icon span:nth-child(3) {
        top: 0.8rem; }
      section.main .wrapper header .menu-icon span:nth-child(4) {
        top: 1.6rem; }
  section.main .wrapper header nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 2rem;
    font-size: 1.4rem;
    letter-spacing: -0.1px; }
  section.main .wrapper .meet-credium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    section.main .wrapper .meet-credium__main {
      width: 58.5rem; }
    section.main .wrapper .meet-credium__img {
      width: 44.4rem;
      height: 43.3rem;
      background: url("../img/element-motion.gif") no-repeat center center;
      background-size: contain; }
    section.main .wrapper .meet-credium__description {
      line-height: 1.5;
      color: #fff; }
    section.main .wrapper .meet-credium__social a {
      display: inline-block;
      width: 4.3rem;
      height: 4.3rem;
      border-radius: 4.3rem;
      margin-right: 1rem;
      background: #006ef9 no-repeat center center; }
      section.main .wrapper .meet-credium__social a.reddit-icon {
        background-image: url("../img/reddit_icon.png"); }
      section.main .wrapper .meet-credium__social a.telegram-icon {
        background-image: url("../img/telegrapm_icon.png"); }
      section.main .wrapper .meet-credium__social a.bitcoin-icon {
        background-image: url("../img/bitcoin_icon.png"); }
    section.main .wrapper .meet-credium .send-email {
      display: flex;
      flex-direction: row;
      margin: 2.2rem 0 3.7rem 0; }
      section.main .wrapper .meet-credium .send-email__input {
        height: calc(5.2rem - 2px);
        flex-grow: 1;
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: transparent;
        padding: 0 1.5rem;
        font-size: 1.6rem;
        color: #fff; }
        section.main .wrapper .meet-credium .send-email__input:focus {
          outline: none; }
        section.main .wrapper .meet-credium .send-email__input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #fff; }
        section.main .wrapper .meet-credium .send-email__input::-moz-placeholder {
          /* Firefox 19+ */
          color: #fff; }
        section.main .wrapper .meet-credium .send-email__input:-ms-input-placeholder {
          /* IE 10+ */
          color: #fff; }
        section.main .wrapper .meet-credium .send-email__input:-moz-placeholder {
          /* Firefox 18- */
          color: #fff; }
      section.main .wrapper .meet-credium .send-email__button {
        color: #fff;
        height: 5.2rem;
        background-color: #006ef9;
        border: none;
        border-radius: 5px;
        margin-left: 1rem;
        padding: 0 4.3rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-appearance: none; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.main .wrapper {
      padding-top: 10rem;
      padding-bottom: 2.5rem; }
      section.main .wrapper header.fixed {
        height: 6rem;
        padding: 2rem 0; }
        section.main .wrapper header.fixed .wrapper {
          display: block;
          padding: 0; }
      section.main .wrapper header .credium-logo {
        margin: 0 auto; }
      section.main .wrapper header h5 {
        text-align: center; }
      section.main .wrapper header nav {
        z-index: -12;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        -webkit-transition: opacity 0.1s ease-in;
        -moz-transition: opacity 0.1s ease-in;
        -ms-transition: opacity 0.1s ease-in;
        -o-transition: opacity 0.1s ease-in;
        transition: opacity 0.1s ease-in; }
      section.main .wrapper header .menu-icon {
        display: block; }
      section.main .wrapper .meet-credium {
        flex-direction: column-reverse; }
        section.main .wrapper .meet-credium__main {
          width: 100%; }
        section.main .wrapper .meet-credium__description {
          text-align: center; }
        section.main .wrapper .meet-credium__social {
          text-align: center;
          margin-top: 6.2rem;
          margin-bottom: 3rem; }
        section.main .wrapper .meet-credium__img {
          width: 24rem;
          height: 23rem;
          margin: 1rem 0 3rem 0; }
        section.main .wrapper .meet-credium .send-email {
          display: block;
          padding: 0 3.2rem; }
          section.main .wrapper .meet-credium .send-email__input, section.main .wrapper .meet-credium .send-email__button {
            width: 100%; }
          section.main .wrapper .meet-credium .send-email__button {
            margin: 2rem 0 0 0; } }

section.want-more .wrapper {
  padding: 3.2rem 0 3.8rem 0;
  text-align: center; }
  section.want-more .wrapper a {
    color: #fff;
    padding: 0 2rem;
    font-weight: 400;
    font-size: 2rem; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.want-more .wrapper {
      padding: 2.8rem 0 1rem 0; }
      section.want-more .wrapper a {
        display: block;
        text-align: center;
        margin-bottom: 2.3rem; } }

section.our-vision .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10.5rem 0; }
  section.our-vision .wrapper .description {
    line-height: 1.5;
    align-self: flex-start;
    width: 40.9rem; }
  section.our-vision .wrapper .video {
    width: 56.2rem;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.our-vision .wrapper {
      flex-direction: column;
      padding-top: 8rem;
      padding-bottom: 8rem; }
      section.our-vision .wrapper .description, section.our-vision .wrapper .video {
        width: 100%;
        text-align: center; }
      section.our-vision .wrapper .video {
        margin-top: 3.3rem; } }

section.what-are-we-solving .wrapper {
  padding-top: 12rem;
  margin-bottom: -24rem;
  text-align: center;
  color: #fff; }
  section.what-are-we-solving .wrapper h4, section.what-are-we-solving .wrapper h6 {
    color: #fff; }
  section.what-are-we-solving .wrapper .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem; }
    section.what-are-we-solving .wrapper .cards__item {
      padding: 5rem 3rem;
      width: 41.3rem;
      height: 50.7rem;
      margin: 0 2.5rem;
      z-index: 12;
      background: -webkit-linear-gradient(bottom, #0f143b, #162346);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom, #0f143b, #162346);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom, #0f143b, #162346);
      /* For Firefox 3.6 to 15 */
      background-image: linear-gradient(to bottom, #0f143b, #162346);
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06); }
      section.what-are-we-solving .wrapper .cards__item:first-child .img {
        background: url("../img/element_b.svg") no-repeat center center;
        background-size: contain; }
      section.what-are-we-solving .wrapper .cards__item:last-child .img {
        background: url("../img/element_c.svg") no-repeat center center;
        background-size: contain; }
      section.what-are-we-solving .wrapper .cards__item .img {
        width: 17rem;
        height: 17rem;
        margin: 0 auto; }
      section.what-are-we-solving .wrapper .cards__item .description {
        margin-top: 3.6rem;
        line-height: 1.5; }
        section.what-are-we-solving .wrapper .cards__item .description h6 {
          font-size: 2.8rem;
          font-weight: 700;
          margin-bottom: 2rem; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.what-are-we-solving .wrapper {
      padding-top: 8rem;
      margin-bottom: -17rem; }
      section.what-are-we-solving .wrapper h4 {
        padding: 0 3rem; }
      section.what-are-we-solving .wrapper .cards {
        flex-direction: column;
        align-items: center;
        margin-top: 6rem; }
        section.what-are-we-solving .wrapper .cards__item {
          width: 100%;
          height: 44rem;
          max-width: 45rem;
          margin: 2rem 0;
          padding: 3rem 2rem; }
          section.what-are-we-solving .wrapper .cards__item .img {
            width: 13rem;
            height: 13rem; }
          section.what-are-we-solving .wrapper .cards__item .description {
            margin-top: 1.6rem;
            font-size: 1.7rem; }
            section.what-are-we-solving .wrapper .cards__item .description h6 {
              font-size: 2.4rem;
              margin-bottom: 1.6rem; } }

section.how-credium-works .wrapper {
  padding: 35.2rem 0 14.4rem 0;
  text-align: center; }
  section.how-credium-works .wrapper h4 {
    color: #fff;
    margin-bottom: 2rem; }
  section.how-credium-works .wrapper h6 {
    color: #fff;
    font-weight: 300;
    font-size: 2.5rem; }
  section.how-credium-works .wrapper .img {
    margin: 8rem 0 4rem 0;
    background: url("../img/flow.png") no-repeat center center;
    background-size: contain;
    height: 72.5rem; }
  section.how-credium-works .wrapper .legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -15rem; }
    section.how-credium-works .wrapper .legend .left, section.how-credium-works .wrapper .legend .right {
      width: 25rem; }
    section.how-credium-works .wrapper .legend__item {
      color: #fff;
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      text-align: left;
      position: relative;
      padding-left: 4rem; }
      section.how-credium-works .wrapper .legend__item:before {
        content: "";
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        left: 0;
        top: calc(50% - 1.3rem); }
      section.how-credium-works .wrapper .legend__item.orm:before {
        background-color: #006ef9; }
      section.how-credium-works .wrapper .legend__item.note-holders:before {
        background-color: #00cef1; }
      section.how-credium-works .wrapper .legend__item.risk-analysts:before {
        background-color: #6c2dde; }
      section.how-credium-works .wrapper .legend__item.buyers:before {
        background-color: #41ffab; }
      section.how-credium-works .wrapper .legend__item.oracle:before {
        background-color: #d4e2ff; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.how-credium-works .wrapper {
      padding-top: 22.6rem;
      padding-bottom: 6rem; }
      section.how-credium-works .wrapper h4 {
        padding: 0 3rem; }
      section.how-credium-works .wrapper .img {
        width: 100%;
        height: 33.7rem;
        margin-bottom: 0;
        background-image: url("../img/flow_mobile.png"); }
      section.how-credium-works .wrapper .legend {
        flex-direction: column;
        margin-top: 6rem; }
        section.how-credium-works .wrapper .legend .left, section.how-credium-works .wrapper .legend .right {
          width: 100%; }
        section.how-credium-works .wrapper .legend__item {
          padding-left: 2.5rem; }
          section.how-credium-works .wrapper .legend__item:before {
            width: 1.8rem;
            height: 1.8rem;
            top: calc(50% - 0.9rem); } }

section.key-elements .wrapper {
  padding: 12rem 0 10rem 0;
  text-align: center; }
  section.key-elements .wrapper .key-benefits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem; }
    section.key-elements .wrapper .key-benefits__item {
      display: flex;
      flex-direction: column;
      padding: 0 3rem;
      line-height: 1.5;
      width: 37rem; }
      section.key-elements .wrapper .key-benefits__item .img {
        width: 18rem;
        height: 18rem;
        margin: 0 auto 1.5rem auto;
        background: no-repeat center center; }
        section.key-elements .wrapper .key-benefits__item .img.cdx {
          background-image: url("../img/cdx_icon.svg"); }
        section.key-elements .wrapper .key-benefits__item .img.risk-market {
          background-image: url("../img/open_market_icon.svg"); }
        section.key-elements .wrapper .key-benefits__item .img.oracle {
          background-image: url("../img/settings_icon.svg"); }
      section.key-elements .wrapper .key-benefits__item h6 {
        margin-top: 3rem;
        margin-bottom: 1.7rem;
        font-size: 2.8rem;
        font-weight: 700; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.key-elements .wrapper {
      padding: 8rem 3rem 0 3rem; }
      section.key-elements .wrapper .key-benefits {
        flex-direction: column;
        align-items: center;
        margin-top: 4rem; }
        section.key-elements .wrapper .key-benefits__item {
          margin-bottom: 8rem;
          width: 100%; }
          section.key-elements .wrapper .key-benefits__item h6 {
            font-size: 2.4rem;
            margin-top: 4rem; }
          section.key-elements .wrapper .key-benefits__item .img {
            margin-bottom: 0; } }

section.the-world-need-credium .wrapper {
  padding: 12rem 0 10rem 0;
  text-align: center; }
  section.the-world-need-credium .wrapper h4 {
    color: #fff;
    margin-bottom: 2rem; }
  section.the-world-need-credium .wrapper h6 {
    color: #fff;
    margin-bottom: 8rem;
    font-size: 2.1rem;
    font-weight: 400; }
  section.the-world-need-credium .wrapper .news-quotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    section.the-world-need-credium .wrapper .news-quotes__item {
      background-color: #fff;
      width: 30rem;
      height: 35.3rem;
      border-radius: 5px;
      margin: 2.5rem;
      padding: 2.8rem;
      text-align: left;
      text-decoration: none;
      color: #333333;
      line-height: 1.4; }
      section.the-world-need-credium .wrapper .news-quotes__item b {
        font-weight: 200;
        background-color: #fffd62; }
      section.the-world-need-credium .wrapper .news-quotes__item.lendacademy {
        background: url("../img/lendacademy-logo.png") no-repeat 3rem calc(100% - 2rem) #fff; }
      section.the-world-need-credium .wrapper .news-quotes__item.bloomberg {
        background: url("../img/bloomberg-logo.png") no-repeat 3rem calc(100% - 2.5rem) #fff; }
      section.the-world-need-credium .wrapper .news-quotes__item.forbes {
        background: url("../img/forbes_logo.png") no-repeat 3rem calc(100% - 2.5rem) #fff; }
      section.the-world-need-credium .wrapper .news-quotes__item.oecd {
        background: url("../img/oecd_logo.png") no-repeat 3rem calc(100% - 2.5rem) #fff; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.the-world-need-credium .wrapper {
      padding: 8rem 0; }
      section.the-world-need-credium .wrapper h4 {
        padding: 0 3rem;
        margin-bottom: 5.5rem; }
      section.the-world-need-credium .wrapper .news-quotes {
        display: block;
        margin: 0 -1.5rem; }
        section.the-world-need-credium .wrapper .news-quotes__item {
          padding: 2rem; } }
  @media only screen and (min-device-width: 351px) and (max-device-width: 1024px) {
    section.the-world-need-credium .wrapper .news-quotes__item {
      margin: 1.5rem; }
      section.the-world-need-credium .wrapper .news-quotes__item.lendacademy {
        background-position: 2.5rem calc(100% - 2rem); }
      section.the-world-need-credium .wrapper .news-quotes__item.bloomberg {
        background-position: 2.5rem calc(100% - 1.5rem); } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 350px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    section.the-world-need-credium .wrapper .news-quotes__item {
      margin: 1rem;
      font-size: 1.7rem; }
      section.the-world-need-credium .wrapper .news-quotes__item.lendacademy {
        background-position: 2rem calc(100% - 2rem); }
      section.the-world-need-credium .wrapper .news-quotes__item.bloomberg {
        background-position: 2rem calc(100% - 1.5rem); } }

section.created-by .wrapper {
  padding: 6rem 0 6.5rem 0;
  text-align: center; }
  section.created-by .wrapper h6 {
    font-weight: 400;
    font-size: 2.1rem;
    margin-top: 2.5rem; }
  section.created-by .wrapper .backend-logo {
    display: inline-block;
    width: 22.2rem;
    height: 4.2rem;
    margin-bottom: -0.3rem;
    margin-left: 1rem;
    background: url("../img/backend logo.png") no-repeat center center; }
  section.created-by .wrapper .founders {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5rem; }
    section.created-by .wrapper .founders__item {
      background: no-repeat center center;
      cursor: pointer; }
      section.created-by .wrapper .founders__item.tech-crunch {
        background-image: url("../img/tc_logo.png");
        width: 20.3rem;
        height: 3.5rem; }
      section.created-by .wrapper .founders__item.nerdwallet {
        background-image: url("../img/nerdwallet-logo.png");
        width: 16rem;
        height: 3.4rem; }
      section.created-by .wrapper .founders__item.crowdfund-insider {
        background-image: url("../img/crowdfund_logo.png");
        width: 18.4rem;
        height: 3.8rem; }
      section.created-by .wrapper .founders__item.finance-magnates {
        background-image: url("../img/finance_logo.png");
        width: 10.9rem;
        height: 4.6rem; }
      section.created-by .wrapper .founders__item.lockerdome {
        background-image: url("../img/lockerdone_logo.png");
        width: 20.5rem;
        height: 3.2rem; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.created-by .wrapper {
      padding-top: 8rem;
      padding-bottom: 6.6rem; }
      section.created-by .wrapper h4 {
        padding: 0 1rem; }
      section.created-by .wrapper .backend-logo {
        display: block;
        margin: 1.6rem auto 0 auto; }
      section.created-by .wrapper .founders {
        flex-wrap: wrap;
        margin-top: 4.5rem; }
        section.created-by .wrapper .founders__item {
          margin: 2rem 0; } }

section.the-team .wrapper {
  padding: 12rem 0;
  text-align: center; }
  section.the-team .wrapper h4 {
    color: #fff; }
  section.the-team .wrapper .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8rem; }
    section.the-team .wrapper .team__item {
      background-color: #fff;
      width: 28rem;
      height: 32rem;
      border-radius: 3px;
      margin: 2.5rem;
      padding: 3.5rem;
      position: relative; }
      section.the-team .wrapper .team__item .overlay-trigger {
        position: absolute;
        right: 0.3rem;
        font-weight: 400;
        bottom: 0;
        width: 3rem;
        text-align: center;
        font-size: 3rem;
        cursor: pointer;
        z-index: 20;
        color: #006ef9; }
        section.the-team .wrapper .team__item .overlay-trigger:before {
          content: '+'; }
      section.the-team .wrapper .team__item .overlay {
        opacity: 0;
        position: absolute;
        padding: 3rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 110, 249, 0.9);
        border-radius: 0.3rem;
        z-index: -1;
        color: #fff;
        line-height: 1.5;
        text-align: left;
        -webkit-transition: opacity 0.1s ease-out;
        -moz-transition: opacity 0.1s ease-in;
        -ms-transition: opacity 0.1s ease-in;
        -o-transition: opacity 0.1s ease-in;
        transition: opacity 0.3s ease-out; }
        section.the-team .wrapper .team__item .overlay ul {
          margin-left: 1rem; }
          section.the-team .wrapper .team__item .overlay ul li {
            font-size: 1.7rem; }
      section.the-team .wrapper .team__item .open .overlay {
        opacity: 1;
        z-index: 10; }
      section.the-team .wrapper .team__item .open .overlay-trigger:before {
        content: '-';
        color: #fff; }
      section.the-team .wrapper .team__item.gilad .photo {
        background-image: url("../img/team/gilad.jpg"); }
      section.the-team .wrapper .team__item.gilad .company {
        background-image: url("../img/team/backed-logo.png"); }
      section.the-team .wrapper .team__item.dan .photo {
        background-image: url("../img/team/dan.jpg"); }
      section.the-team .wrapper .team__item.dan .company {
        background-image: url("../img/team/grey-group-logo.png"); }
      section.the-team .wrapper .team__item.kfir .photo {
        background-image: url("../img/team/kfir.jpg"); }
      section.the-team .wrapper .team__item.kfir .company {
        background-image: url("../img/team/cyhawk-ventures.jpg");
        height: 4rem;
        margin-top: -0.5rem; }
      section.the-team .wrapper .team__item.yaniv .photo {
        background-image: url("../img/team/yaniv.jpg"); }
      section.the-team .wrapper .team__item.yaniv .company {
        background-image: url("../img/team/gnosis-logo.png"); }
      section.the-team .wrapper .team__item.taras .photo {
        background-image: url("../img/team/taras.jpg"); }
      section.the-team .wrapper .team__item.taras .company {
        background-image: url("../img/team/n-ix_logo.png"); }
      section.the-team .wrapper .team__item.tom .photo {
        background-image: url("../img/team/tom.jpg"); }
      section.the-team .wrapper .team__item.tom .company {
        background-image: url("../img/team/gaincapital-logo.png"); }
      section.the-team .wrapper .team__item.nufar .photo {
        background-image: url("../img/team/nufar.jpg"); }
      section.the-team .wrapper .team__item.nufar .company {
        background-image: url("../img/team/backed-logo.png"); }
      section.the-team .wrapper .team__item.elan .photo {
        background-image: url("../img/team/elan.jpg"); }
      section.the-team .wrapper .team__item.elan .company {
        background-image: url("../img/team/prosper-logo.png"); }
      section.the-team .wrapper .team__item.eyal .photo {
        background-image: url("../img/team/eyal.jpg"); }
      section.the-team .wrapper .team__item.eyal .company {
        background-image: url("../img/team/bancor_logo.png"); }
      section.the-team .wrapper .team__item.david .photo {
        background-image: url("../img/team/david.jpg"); }
      section.the-team .wrapper .team__item.david .company {
        background-image: url("../img/team/ldjCapital_logo.jpeg"); }
      section.the-team .wrapper .team__item.david .overlay {
        font-size: 1.5rem; }
      section.the-team .wrapper .team__item.raphael .photo {
        background-image: url("../img/team/raphael.jpg"); }
      section.the-team .wrapper .team__item.raphael .company {
        background-image: url("../img/team/billguard-logo.png"); }
      section.the-team .wrapper .team__item.ru .photo {
        background-image: url("../img/team/ru.jpg"); }
      section.the-team .wrapper .team__item.ru .company {
        background-image: url("../img/team/barclaycard.jpg"); }
      section.the-team .wrapper .team__item.eytan .photo {
        background-image: url("../img/team/eytan.jpg"); }
      section.the-team .wrapper .team__item.eytan .company {
        background-image: url("../img/team/reddot-logo.png"); }
      section.the-team .wrapper .team__item.george .photo {
        background-image: url("../img/team/george.jpg"); }
      section.the-team .wrapper .team__item.george .company {
        background-image: url("../img/team/lending-times-logo.png"); }
      section.the-team .wrapper .team__item.yoni .photo {
        background-image: url("../img/team/yoni.jpg"); }
      section.the-team .wrapper .team__item.yoni .company {
        background-image: url("../img/team/etoro_logo.png"); }
      section.the-team .wrapper .team__item.mihai .photo {
        background-image: url("../img/team/mihai.jpg"); }
      section.the-team .wrapper .team__item.mihai .company {
        background-image: url("../img/team/ox-uni_logo.png"); }
      section.the-team .wrapper .team__item .company {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 3rem; }
      section.the-team .wrapper .team__item .photo {
        width: 10rem;
        height: 10rem;
        border-radius: 10rem;
        margin: 0 auto;
        background-color: #006ef9;
        background-size: contain; }
      section.the-team .wrapper .team__item .description {
        min-height: 4.5rem; }
      section.the-team .wrapper .team__item h6 {
        margin-top: 1.7rem;
        margin-bottom: 1rem;
        font-size: 1.7rem; }
      section.the-team .wrapper .team__item .linkedin-url {
        display: block;
        width: 2.3rem;
        height: 2.3rem;
        margin: 1rem auto;
        border-radius: 0.2rem;
        background: url("../img/linkedin-logo.png");
        cursor: pointer; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.the-team .wrapper {
      padding-top: 8rem;
      padding-bottom: 1.7rem; }
      section.the-team .wrapper .team__item {
        margin: 0 2rem 4rem 2rem; } }

section.road-map .wrapper {
  padding: 12rem 0 2rem 0;
  text-align: center;
  overflow: hidden; }
  section.road-map .wrapper .events {
    margin-top: 7.7rem; }
    section.road-map .wrapper .events__item {
      height: 12rem;
      position: relative;
      clear: both;
      width: 48.4rem; }
      section.road-map .wrapper .events__item:first-child:before {
        width: 0; }
      section.road-map .wrapper .events__item.left {
        float: left;
        text-align: right; }
        section.road-map .wrapper .events__item.left:before {
          right: calc(-6.7rem - 0.2rem/2); }
        section.road-map .wrapper .events__item.left .circle {
          right: calc(-6.7rem - 2rem/2); }
        section.road-map .wrapper .events__item.left h6:before {
          right: -4rem; }
      section.road-map .wrapper .events__item.right {
        float: right;
        text-align: left; }
        section.road-map .wrapper .events__item.right:before {
          left: calc(-6.7rem - 0.2rem/2); }
        section.road-map .wrapper .events__item.right .circle {
          left: calc(-6.7rem - 2rem/2); }
        section.road-map .wrapper .events__item.right h6:before {
          left: -4rem; }
      section.road-map .wrapper .events__item h6 {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
        font-weight: 400;
        position: relative;
        line-height: 1.2; }
        section.road-map .wrapper .events__item h6:before {
          content: '';
          position: absolute;
          width: 3rem;
          height: 0.2rem;
          background-color: black;
          top: 50%; }
      section.road-map .wrapper .events__item:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0.2rem;
        top: calc(-100% + 0.5rem);
        background-color: #006ef9; }
      section.road-map .wrapper .events__item.upcoming:before {
        background-color: #bacace; }
      section.road-map .wrapper .events__item.upcoming .circle {
        background-color: #bacace; }
        section.road-map .wrapper .events__item.upcoming .circle:before {
          background-color: #bacace; }
      section.road-map .wrapper .events__item .circle {
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
        position: absolute;
        background-color: #006ef9;
        top: 0.5rem;
        z-index: 10; }
        section.road-map .wrapper .events__item .circle:before {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 3.2rem;
          position: absolute;
          background-color: #006ef9;
          opacity: 0.5;
          content: '';
          left: calc((2rem - 3.2rem)/2);
          top: calc((2rem - 3.2rem)/2); }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.road-map .wrapper {
      padding-top: 8rem;
      padding-bottom: 8rem; }
      section.road-map .wrapper .events__item {
        height: 20rem; }
        section.road-map .wrapper .events__item__content {
          height: calc(100% - 4rem);
          overflow: auto; }
        section.road-map .wrapper .events__item.left, section.road-map .wrapper .events__item.right {
          text-align: left;
          margin-left: 8rem;
          width: calc(100% - 8rem);
          line-height: 1.68; }
        section.road-map .wrapper .events__item.right {
          float: left;
          text-align: left; }
        section.road-map .wrapper .events__item.left:before {
          left: calc(-6.7rem - 0.2rem/2); }
        section.road-map .wrapper .events__item.left .circle {
          left: calc(-6.7rem - 2rem/2); }
        section.road-map .wrapper .events__item.left h6 {
          margin-bottom: 1rem; }
          section.road-map .wrapper .events__item.left h6:before {
            left: -4rem; } }

section.faq .wrapper {
  padding: 12rem 5.8rem 3.8rem 5.8rem;
  text-align: center; }
  section.faq .wrapper h4 {
    color: #fff; }
  section.faq .wrapper .questions {
    margin-top: 8.3rem; }
    section.faq .wrapper .questions__item {
      padding: 2.8rem 0 2.2rem 0;
      border-top: 1px solid #006ef9; }
      section.faq .wrapper .questions__item .question {
        color: #fff;
        font-size: 1.7rem;
        text-align: left;
        display: flex;
        justify-content: space-between;
        flex-direction: row; }
        section.faq .wrapper .questions__item .question:hover {
          cursor: pointer; }
          section.faq .wrapper .questions__item .question:hover svg.arrow-icon g {
            stroke: #006ef9; }
        section.faq .wrapper .questions__item .question svg.arrow-icon {
          float: right;
          width: 30px;
          height: 30px;
          margin-top: -0.4rem;
          transform: rotate(90deg); }
          section.faq .wrapper .questions__item .question svg.arrow-icon g {
            stroke: #fff; }
          section.faq .wrapper .questions__item .question svg.arrow-icon.open {
            transform: rotate(-90deg); }
            section.faq .wrapper .questions__item .question svg.arrow-icon.open g {
              stroke: #006ef9; }
      section.faq .wrapper .questions__item .answer {
        color: #fff;
        text-align: left;
        margin-top: 2rem;
        font-size: 1.7rem;
        line-height: 1.4; }
        section.faq .wrapper .questions__item .answer u, section.faq .wrapper .questions__item .answer i, section.faq .wrapper .questions__item .answer b {
          font-size: 1.7rem; }
        section.faq .wrapper .questions__item .answer ul, section.faq .wrapper .questions__item .answer ol {
          margin-left: 2rem; }
        section.faq .wrapper .questions__item .answer li {
          font-size: 1.7rem;
          padding: 0.5rem 0; }
    section.faq .wrapper .questions__item:last-child {
      border-bottom: 1px solid #006ef9; }
  section.faq .wrapper .footer, section.faq .wrapper .footer span {
    margin-top: 8.3rem;
    color: #fff;
    text-align: left;
    font-size: 1.4rem; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    section.faq .wrapper {
      padding-top: 8rem;
      padding-bottom: 3.5rem; }
      section.faq .wrapper .footer {
        margin-top: 8rem; } }
